.formItem {
  display: block;
  padding: 10px 0;
  width: 90%;
  max-width: 500px;
  margin: 30px auto 0 auto;
  color: #32325D;
  border-bottom: 2px solid #CED7DF;
  border-radius: 0;
  font-weight: 500;
  font-family: 'Source Code Pro', Consolas, Menlo, monospace;
  font-size: 16px;
  font-smoothing: antialiased;
  border-bottom-color: #ccc;
}

.formItem:focus,
.formItem--focus {
  outline: none;
  border-bottom-color: #ccc;
}

.is-white {
  color: white;
}
.box{
  opacity: .94;
}

.textarea {
  max-width: 200px;
}
.has-bg-img { background: url('../mainBackDrop.jpg')center center; background-size:cover; }
